/*
 * Awwards Demo Github Page by Joshua Pekera
 * This is for the demo page only and has a lot of uncessasry style for implimenting the Awwwards retina banners. I would not recommend using anything in this file.
*/

/* Table of Content
==================================================
  :: Global Site Styles
  :: Header and Global Nav
  :: Side Nav
  :: Content Containers and Grids
  :: Page Specific
  :: Media Queries
  :: Font-Face 
*/

/* Global Site Styles
================================================== */
body {
	font-family:"brandon-grotesque","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:400;
	font-style:normal;
	color:#1a1a1a;
	font-size:15px;
	line-height:15px;
	background-color: white;
}

/* Links */
a {
	color: #6b6c6c;
	text-fill-color: none;
	-webkit-transition: color .4s linear;
	-moz-transition: color .4s linear;
	-o-transition: color .4s linear;
	-ms-transition: color .4s linear;
	transition: color .4s linear;
}
a:hover, a:focus {
	color: #86ac39;
	text-decoration: none;
}

/* Headers */
h1, h2, h3 { color: #3c4c51}
h1 strong {}
h2 {}
h3 {}
h4 {}
p {}

/* Header and Global Nav
================================================== */

/* Header */
.navbar-inner {
	min-height: 100px;
	vertical-align: middle;
	padding-right: 20px;
	padding-left: 20px;
	background-color: white;
}

.navbar-inner .container {
	padding: 50px;
	text-align: left;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	position: static;
}

.navbar .brand {
	font-family:"brandon-grotesque","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #9fa2a3;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: .12em;
	text-transform: uppercase;
	line-height: 1;
	display: block;
	float: left;
	padding: 8px 20px 12px;
	margin-left: 0px;
	text-shadow: none;
	-webkit-transition: color .4s linear;
	-moz-transition: color .4s linear;
	-o-transition: color .4s linear;
	transition: color .4s linear;
}

.navbar .brand strong {
	letter-spacing:-3px;
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: right;
  margin: 0 10px 0 0;
}

.navbar-fixed-top {
	margin-bottom: 20px;
}


/* Global Nav */

.navbar .nav > li {
  float: left;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #9fa2a3;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #86ac39;
  text-decoration: none;
  background-color: transparent;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  text-decoration: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .btn-navbar{
	background-color: none;
	float: right;
}

a.plus {
	display: none;
	
}


/* Page Slide */

.view-slideout {
	display: none;
}

/* end slideout */


#slideout {
/* These styles MUST be included. Do not change. */
	display:none;
	position:absolute;
	position:fixed;
	top:0;
	height:100%;
	z-index:999999;
/* Specify the width of your slideout here */
	width:200px;
	padding:0;
/* These styles are optional, and describe how the slideout will look */
	background-color:#333;
	color:#FFF;
	border-right:solid 1px #242424
}

.open {
	display:none;
}


/* Side Nav
================================================== */


/* Content Containers and Grids
================================================== */

/* Default display */

/* Main Content Area */

/* Grids */

/* Grid Lists */

/* Grid Columns */

/* Debug Output */


/* Page Specific Styles
================================================== */

/* Page Titles, Icons, and Shapes
----------------------------------- */


/* Home Page
---------------- */

#social {
	background-color: #25282a;
	width: 100%;
	height: 400px;
}

.hero-unit {
	background: white;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
	text-align: center;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.featurewrapper {
	position: relative;
	max-width: 919px;
	margin: 0 auto;
}

img.browser {
	position: relative;
}

img.ribbons {
	z-index: 10;
	left: 0;
	top: 0;
	position: absolute;
}

img.ribbon-white {
	z-index: 10;
	left: 0;
	top: 0;
	position: absolute;
}

img.ribbon-black {
	z-index: 11;
	left: 0;
	top: 0;
	position: absolute;
}

img.ribbon-green {
	z-index: 12;
	left: 0;
	top: 0;
	position: absolute;
}

img.retina {
	z-index: 9;
	left: 0;
	top: 0;
	position: absolute;
}

.buckets {
	margin-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
}

.buckets p {
	text-align: center;
	padding-top: 15px;
	color: #cacbcc;
	font-family: Georgia, sans-serif;
	font-style: italic;
}

.buckets img {
	display: block;
	margin: 0 auto;
	padding-bottom: 0px;
}

/* Demo Page
---------------- */

.wrapper {
	position: relative;
	max-width: 270px;
	margin: 0 auto;
}

img.holder {
	margin-top: 60px;
	margin-bottom: 0px;
}

img.awwwshadow {
	position: absolute;
	left: 0;
	top:60px;
	z-index: 2;
}

img.awwwicon {
	position:absolute;
	left: 0;
	top: 60px;
	z-index: 4;

}

hr.divide {
	margin-top: 60px;
	margin-bottom: 20px;
}
/* Footer
================================================== */
footer {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 14px;
	color: #a0a1a2;
}

.copyright {
	text-align: right;
}

.tweet {
	float: left;
}

/* Elements
================================================== */

/* Buttons
-----------------------*/
a.btn-cta {
	color: #adaeaf;
	text-align: center;
	padding: 9px 15px;
	background-color: #f0f1f2;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0px 1px 0px white;
	line-height: normal;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d9dbdc;
		-webkit-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d9dbdc;
		-moz-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d9dbdc;
		-o-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d9dbdc;
	background-color: #f0f1f2;
	transition-property:color, background;   
	transition-duration: .4s, .4s;   
	transition-timing-function: linear, linear;
		-webkit-transition-property:color, background;   
		-webkit-transition-duration: .4s, .4s;   
		-webkit-transition-timing-function: linear, linear;
		-moz-transition-property:color, background;   
		-moz-transition-duration: .4s, .4s;   
		-moz-transition-timing-function: linear, linear;
		-o-transition-property:color, background;   
		-o-transition-duration: .4s, .4s;   
		-o-transition-timing-function: linear, linear; 
	display: block;
}

.btn-cta:hover,
.btn-cta:active,
.btn-cta.active,
.btn-cta.disabled,
.btn-cta[disabled] {
  color: #8b8c8c;
  background-color: #e8e8e8;
  *background-color: #e8e8e8;
}

.btn-cta:active,
.btn-cta.active {
  background-color: #e8e8e8 \9;
}


/* Share Widgets
================================================== */

/* Facebook Responsive
-----------------------*/
.fb-comments,.fb_iframe_widget iframe[style],.fb_iframe_widget span[style] {
	width:100%!important;
}

.fb-like {
	margin-bottom:20px;
	overflow:hidden;
	float:left!important;
}

.fb-like span[style],.fb-like span iframe[style] {
	width:90px!important;
}

/* Multimedia Elements
================================================== */

/* Responsive video embeds (must be wrapped container)
-------------------------------------------------------*/
.embed-container {
	position:relative;
	padding-bottom:56.25%;/*16/9 ratio*/
	padding-top:0;
	height:0;
	overflow:hidden;
}

.embed-container iframe,.embed-container object,.embed-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* Media Queries
================================================== */

/*:::PRIMARY:::*//* Landscape phone to portrait tablet 
----------------------------------------*/
@media (max-width: 767px) {
/* Styles */

body {
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

section#social {
	margin: 0 -20px 0 -20px;
	padding: 0 20px 0 20px;
}

.navbar-inner {
	min-height: 50px;
}

.navbar-inner .container {
	padding: 0px;
	text-align: center;
}

.navbar .brand {
	text-align: center;
	float: none;
	padding: 15px 15px 0px 15px;
	margin: 0 auto;
	font-size: 24px;
	letter-spacing: .05em;
}

.hero-unit {
	margin: 0 -20px;
}

/* Globalnav Page slide */

a.plus {
	display: block;
	position: absolute;
	background-image: url('../img/open.png');
	background-repeat: no-repeat;
	height: 21px;
	width: 21px;
	top: 20px;
	right: 15px;
}

}

/* Mobile Devices Landscape Specific
----------------------------------------*/
@media (min-width: 480px) and (max-width: 767px) {
/* Styles */
.navbar .brand {
	font-size: 22px;
	letter-spacing: .05em;
}

ul#globalnav {
	display:none
}

}

/*:::PRIMARY:::*//* Landscape phones and down 
---------------------------------------------------------------------*/
@media (max-width: 480px) {
/* Styles */

/* Globalnav Page slide */

.view-slideout {}

.nav-collapse .nav {
	float: none;
	margin: 0 0 10px;
}

ul#globalnav {
	display:none
}

.open {
	display:block
}

#slideout {
	width:200px
}

#slideout ul#globalnav {
	width:auto;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border:none;
	background:none;
	box-shadow:none;
/* Firefox v3.5+ */
	-moz-box-shadow:none;
/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow:none;
/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow:none;
	text-indent:0;
	color:#FFF;
	margin:0;
	background-color:transparent
}

#slideout ul#globalnav li {
	padding:0;
	margin:0 20px;
	list-style:none;
	display:block;
	float:none
}

#slideout ul#globalnav li:active {
	-webkit-tap-highlight-color:green;
	background-color:#222
}

#slideout ul#globalnav li a.navtext {
	position:relative;
	bottom:0;
	color:#848484;
	text-shadow:0 1px 0 rgba(0,0,0,.6);
	width:auto;
	font:600 18px/30px proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-transition:color .4s linear;
	-moz-transition:color .4s linear;
	-o-transition:color .4s linear;
	-ms-transition:color .4s linear;
	transition:color .4s linear;
	border-bottom:solid 1px #2b2b2b;
	-moz-box-shadow:0 1px 0 #3d3d3d;
	-webkit-box-shadow:0 1px 0 #3d3d3d;
	box-shadow:0 1px 0 #3d3d3d;
	padding:11px 20px;
	display:block;
	text-align:left
}

#slideout ul#globalnav li a.navtext:hover {
	text-decoration:none;
	color:#fff
}

#slideout ul#globalnav li a.navtext.active {
	text-decoration:none;
	color:#fff
}

/* end slideout */
}

/*:::PRIMARY:::*//* Portrait tablet to landscape and desktop 
------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 979px) {
/* Styles */
body {
	padding-top: 0px;
}
}


/* iPads (portrait and landscape) 
---------------------------------------------------------------------------------------*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) 
------------------------ */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait)
----------------------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Slidely Wide Desktop Display
------------------------------------*/
@media (min-width: 980px) {
/* Styles */
}

/* Large Desktop Displays 
----------------------------------------*/
@media (min-width: 1200px) {
/* Styles */
}

/* Retina Displays (Tip: Best used only for image replacement)
------------------------------------------------------------------ */
@media 
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
	a.plus {
		background: url('../img/open@2x.png') no-repeat;
		background-size: 21px 21px;
		height: 21px;
		width: 21px;
	}
}


/* Font-Face
================================================== */
/* Hide text while web fonts are loading */

.wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading p, .wf-loading a { visibility: hidden; }

