// Core variables and mixins
@import "values.less"; // Modify this for custom colors, font-sizes, etc
@import "mix.less";

body, #viewport, #page,.wrapper, .push {
	background: #612816 url("/assets/img/bg2-wood@1x.jpg") repeat 0 0;
	overflow-y: visible;
}

.wrapper {
	background: transparent url("/assets/img/bg-lighting@1x.jpg") repeat-x;
	//.backface-visibility(hidden);
}

@media (max-width: 767px) {
	.wrapper {
	background: black url("/assets/img/bg2-wood@1x.jpg") repeat 0 0;
	}
}

@media 
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
body, #viewport, #page,.wrapper, .push {
	background: #612816 url("/assets/img/bg2-wood@1x.jpg") repeat 0 0;
	background-size: 512px 511px;
	}
}