/*
 * Theme by Joshua Pekera
*/
/* Table of Content
==================================================
  :: Font-Face
  :: Global Site Styles
  :: Header and Global Nav
  :: Side Nav
  :: Content Containers and Grids
  :: Page Specific
  :: Media Queries 
*/
/* Font-Face
================================================== */
/* Hide text while web fonts are loading */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/*
// CSS Webkit Image-Set for retina image replacement
// ---------------------------------------------------------
.image-set (@imageSource, @imageSource1x, @imageSource2x){
	background-image: url(@{imageSource}); 
	background-image: -webkit-image-set( url(@{imageSource}) ~ "1x", url(@{imageSource2x}) ~ "2x");
}
*/
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Typekit delayed loading of Ansyc Fonts */
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading p,
.wf-loading a {
  visibility: hidden;
}
/* Font-Face */
@font-face {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url(../fonts/proxima-nova/proximanova-regular-webfont.eot?1307578394);
  src: url('../fonts/proxima-nova/proximanova-regular-webfont.eot?iefix') format('eot'), url(../fonts/proxima-nova/proximanova-regular-webfont.woff?1307578394) format('woff'), url(../fonts/proxima-nova/proximanova-regular-webfont.ttf?1307578394) format('truetype'), url('../fonts/proxima-nova/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  src: url(../fonts/proxima-nova/proximanova-regitalic-webfont.eot?1307578394);
  src: url('../fonts/proxima-nova/proximanova-regitalic-webfont.eot?iefix') format('eot'), url(../fonts/proxima-nova/proximanova-regitalic-webfont.woff?1307578394) format('woff'), url(../fonts/proxima-nova/proximanova-regitalic-webfont.ttf?1307578394) format('truetype'), url('../fonts/proxima-nova/proximanova-regitalic-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  src: url(../fonts/proxima-nova/proximanova-light-webfont.eot?1307578394);
  src: url('../fonts/proxima-nova/proximanova-light-webfont.eot?iefix') format('eot'), url(../fonts/proxima-nova/proximanova-light-webfont.woff?1307578394) format('woff'), url(../fonts/proxima-nova/proximanova-light-webfont.ttf?1307578394) format('truetype'), url('../fonts/proxima-nova/proximanova-light-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  src: url(../fonts/proxima-nova/proximanova-semibold-webfont.eot?1307578394);
  src: url('../fonts/proxima-nova/proximanova-semibold-webfont.eot?iefix') format('eot'), url(../fonts/proxima-nova/proximanova-semibold-webfont.woff?1307578394) format('woff'), url(../fonts/proxima-nova/proximanova-semibold-webfont.ttf?1307578394) format('truetype'), url('../fonts/proxima-nova/proximanova-semibold-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: italic;
  src: url(../fonts/proxima-nova/proximanova-semibolditalic-webfont.eot?1307578394);
  src: url('../fonts/proxima-nova/proximanova-semibolditalic-webfont.eot?iefix') format('eot'), url(../fonts/proxima-nova/proximanova-semibolditalic-webfont.woff?1307578394) format('woff'), url(../fonts/proxima-nova/proximanova-semibolditalic-webfont.ttf?1307578394) format('truetype'), url('../fonts/proxima-nova/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  src: url(../fonts/proxima-nova/proximanova-bold-webfont.eot?1307578394);
  src: url('../fonts/proxima-nova/proximanova-bold-webfont.eot?iefix') format('eot'), url(../fonts/proxima-nova/proximanova-bold-webfont.woff?1307578394) format('woff'), url(../fonts/proxima-nova/proximanova-bold-webfont.ttf?1307578394) format('truetype'), url('../fonts/proxima-nova/proximanova-bold-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/proxima-nova/proximanova-boldit-webfont.eot?1307578394);
  src: url('../fonts/proxima-nova/proximanova-boldit-webfont.eot?iefix') format('eot'), url(../fonts/proxima-nova/proximanova-boldit-webfont.woff?1307578394) format('woff'), url(../fonts/proxima-nova/proximanova-boldit-webfont.ttf?1307578394) format('truetype'), url('../fonts/proxima-nova/proximanova-boldit-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  src: url(../fonts/proxima-nova/proximanova-extrabold-webfont.eot?1307578394);
  src: url('../fonts/proxima-nova/proximanova-extrabold-webfont.eot?iefix') format('eot'), url(../fonts/proxima-nova/proximanova-extrabold-webfont.woff?1307578394) format('woff'), url(../fonts/proxima-nova/proximanova-extrabold-webfont.ttf?1307578394) format('truetype'), url('../fonts/proxima-nova/proximanova-extrabold-webfont.svg#webfont2rpW2ohz') format('svg');
}
/* Global Site Styles
================================================== */
/* Page Structure */
html {
  height: 100%;
  font-family: Helvetica;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  height: 100%;
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4a4f55;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: normal;
  background-color: #ffffff;
}
/*
body::after {
	background-image: url(@bg1x);
	background-repeat: repeat;
	height: 50px;
	width: 50px;
}
*/
#viewport {
  height: 100%;
  min-height: 100%;
  background-color: #ffffff;
}
#page {
  height: 100%;
  min-height: 100%;
  background-color: #ffffff;
}
header {
  min-height: 80px;
  vertical-align: middle;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  z-index: inherit;
  background-color: #ffffff;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
  background-color: #ffffff;
}
.push {
  height: 80px;
  clear: both;
  background-color: #ffffff;
}
footer {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 13px;
  color: #999999;
  height: 40px;
  background-color: #ffffff;
  padding-bottom: 20px;
  padding-top: 20px;
}
/* Fixed Footer Bottom */
/* Links */
a {
  color: gray;
  text-fill-color: none;
  -webkit-transition: color 0.4s linear;
  -moz-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  transition: color 0.4s linear;
}
a:hover,
a:focus {
  color: #1b7ad6;
  text-decoration: none;
}
/* Headers */
h1,
h2,
h3 {
  color: #1b7ad6;
}
/* Header and Global Nav
================================================== */
/* Header */
header .container {
  padding-top: 20px;
  position: relative;
  text-align: left;
}
header a.brand {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  color: #9a9795;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
header a.brand:hover,
header a.brand:focus {
  color: #74716f;
  text-shadow: 0 1px transparent;
}
/*
header a.brand:before {
	content: "";
	position: relative;
	display: inline-block;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	.backface-visibility(hidden);
	
}
*/
header p {
  color: #1b7ad6;
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .1em;
  padding-top: 20px;
}
.navbar-fixed-top {
  margin-bottom: 0px;
}
/* Global Nav */
nav {
  position: relative;
  display: inline-block;
  margin: 0px 0px 0px 0;
  float: right;
}
nav ul {
  list-style: none;
  margin-top: 20px;
}
nav ul li {
  display: inline-block;
}
nav a {
  margin: 0px 20px 0px 20px;
  color: #9a9795;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  letter-spacing: .1em;
}
nav a:focus,
nav a:hover {
  color: #1b7ad6;
  text-shadow: 0 1px transparent;
  text-decoration: none;
}
nav .active a,
nav .active a:hover,
nav .active a:focus {
  color: #1b7ad6;
  text-decoration: none;
}
/* Global Crumb */
.crumb {
  text-align: center;
}
/*
.crumb h1 {
	font-size: @baseFontSize + 2;
	line-height: @baseLineHeight - 2;
	font-weight: 400;
	color: @slate;
	display: inline-block;
	padding: 6px 0 0 0;
	margin: 0 10px 0 0;
	text-transform: uppercase;
	letter-spacing: .08em;
	text-shadow: 0 1px rgba(255,255,255,.05);
}
*/
.crumb h1 {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #eeeeee;
  display: none;
  padding: 6px 0 0 0;
  margin: 0 10px 0 0;
  text-transform: uppercase;
  letter-spacing: .08em;
}
.crumb small {
  font-size: 15px;
  line-height: 15px;
  color: #999999;
  display: inline-block;
  padding: 6px 0 0 0;
  margin: 0 0 0 0;
}
hr {
  margin: 5px 0;
  border-top: 1px solid #252525;
  border-bottom: 1px solid #313131;
}
hr + .crumb + hr {
  margin-bottom: 20px;
}
/* Viewport Slideout */
body.menu-open #page {
  position: absolute;
  margin: 0 0 0 -10px;
  overflow: visible;
  -webkit-transform: translatex(-190px);
  -moz-transform: translatex(-190px);
  -ms-transform: translatex(-190px);
  -o-transform: translatex(-190px);
  transform: translatex(-190px);
  -webkit-transition: -webkit-transform 200ms ease-in;
  -moz-transition: -moz-transform 200ms ease-in;
  -ms-transition: -ms-transform 200ms ease-in;
  -o-transition: -o-transform 200ms ease-in;
  transition: transform 200ms ease-in;
}
#close-mask {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#page {
  position: relative;
  background-color: #ffffff;
  z-index: 2;
  -webkit-transition: -webkit-transform 200ms ease-in;
  -moz-transition: -moz-transform 200ms ease-in;
  -ms-transition: -ms-transform 200ms ease-in;
  -o-transition: -o-transform 200ms ease-in;
  transition: transform 200ms ease-in;
}
a.plus {
  display: none;
  position: absolute;
  background-image: url('../img/open.png');
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  top: 10px;
  right: 5px;
  padding: 5px;
  background-position: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
body.menu-open a.plus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
#menu {
  display: none;
  position: absolute;
  width: 190px;
  top: 0;
  right: 0;
  background: #1c1c1c;
  background: url("../img/slideout.png");
  background-repeat: repeat-y;
  background-size: 190px 100px;
}
#menu #search {
  position: relative;
  top: 6px;
  width: 100%;
  padding: 2px 8px 0 10px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#414a5a), to(#4c5464));
  color: #AAB2C0;
  border: 1px solid #222936;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 2px -1px rgba(255, 255, 255, 0.4);
  height: 27px;
  outline: none;
  font-size: 13px;
  font-weight: bold;
}
#menu #search::-webkit-input-placeholder {
  color: #AAB2C0;
  font-weight: normal;
}
#menu .scrollable {
  position: absolute;
  width: 100%;
  top: 0px;
  /* overflow-y: scroll; */

  /* -webkit-overflow-scrolling: touch; */

}
#menu .separator {
  background-color: transparent;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.02));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.06)), to(rgba(255, 255, 255, 0.02)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.02));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.02));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.02));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0fffffff', endColorstr='#05ffffff', GradientType=0);
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.04);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.04);
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.04);
  color: #bcb6b2;
  padding: 6px 0 4px 8px;
  margin-left: 0px;
  text-indent: 30px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
}
#menu ul {
  margin: 0px 0px 0px 0px;
}
#menu ul li {
  position: relative;
  display: block;
  list-style: none;
  min-height: 44px;
  line-height: 44px;
  padding: 3px 0 3px 30px;
  background-color: transparent;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.04);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.04);
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.04);
  font-size: 16px;
  color: #bcb6b2;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#menu ul li:hover,
#menu ul li:active,
#menu ul li.active,
#menu ul li:focus {
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}
#menu ul li::first-child,
#menu ul li::last-child {
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.04);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.04);
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.04);
}
#menu ul li::first-child:hover,
#menu ul li::last-child:hover,
#menu ul li::first-child:active,
#menu ul li::last-child:active,
#menu ul li::first-child.active,
#menu ul li::last-child.active,
#menu ul li::first-child:focus,
#menu ul li::last-child:focus {
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}
#menu ul li:hover + li {
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.06);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.06);
}
#menu ul li a {
  color: #bcb6b2;
  display: block;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#menu ul li a:hover,
#menu ul li a:active,
#menu ul li a.active,
#menu ul li a:focus {
  color: #ffffff;
}
#menu .active {
  box-shadow: inset 0 2px 2px 2px #000000;
}
#menu ul li img {
  vertical-align: middle;
  display: block;
  float: left;
  margin: 5px 10px 0 0;
}
#menu ul li .count {
  position: absolute;
  right: 10px;
  top: 15px;
  background: #3E485E;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e485e), color-stop(1, #323a4d));
  border-top: 1px solid #505A63;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  color: #BFC5D2;
  padding: 1px 3px 3px 4px;
  display: inline-block;
  line-height: 12px;
  min-width: 11px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
#menu ul li#copy {
  padding: 10px 8px;
  font-size: 14px;
  line-height: 18px;
}
#menu ul li#copy p {
  font-weight: 400;
}
/* Slide-Out Nav
================================================== */
img.so-home {
  height: 34px;
  width: 34px;
}
img.so-work {
  height: 34px;
  width: 34px;
}
img.so-labs {
  height: 34px;
  width: 34px;
}
img.so-blog {
  height: 34px;
  width: 34px;
}
img.so-contact {
  height: 34px;
  width: 34px;
}
img.so-twitter {
  height: 34px;
  width: 34px;
}
img.so-facebook {
  height: 34px;
  width: 34px;
}
img.so-linkedin {
  height: 34px;
  width: 34px;
}
img.so-dribbble {
  height: 34px;
  width: 34px;
}
img.so-forrst {
  height: 34px;
  width: 34px;
}
img.so-skype {
  height: 34px;
  width: 34px;
}
/* Side Nav
================================================== */
/* Page Specific Styles
================================================== */
/* Page Titles, Icons, and Shapes
----------------------------------- */
/* Home Page
-------------------------------------------- */
.hero-unit {
  padding: 0 10px;
  height: auto;
  margin-bottom: 0px;
  margin-top: 0;
  text-align: center;
  line-height: 15px;
  background: transparent;
}
.hero-unit img {
  max-width: 100%;
  width: 615px;
  height: auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
#content .greeting {
  text-align: left;
  margin-top: 25%;
  display: block;
}
#content .greeting h2 {
  text-align: left;
  font-size: 36px;
  line-height: 40px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
#content .greeting p {
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
#content .greeting a.btn {
  margin-top: 5px;
}
.hero-banner {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding: 20px;
  position: relative;
}
section#intro {
  background: #303030;
  border: 1px solid #313131;
  margin-bottom: 10px;
}
section#intro .greeting {
  text-align: center;
}
section#intro .greeting h2 {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
section#intro .greeting p {
  color: #999999;
  padding: 0 10px;
}
section#intro p.mute {
  color: #999999;
}
section#content::before {
  content: "";
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff url("../img/bg-wood@1x.jpg") repeat-x;
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
section#content {
  text-align: center;
  color: #1b7ad6;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 0px;
  background: transparent;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
#content h2 {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  text-shadow: 0px 1px 0px #97764f;
  text-transform: uppercase;
}
section#resize-me p {
  text-align: center;
  font-family: "lint-mccree", 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #373a40;
  margin-bottom: 40px;
  margin-top: 40px;
}
section#pong {
  text-align: left;
  color: #1b7ad6;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background: #f5f5f5;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
section#pong h3 {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333333;
}
section#pong p {
  color: #4a4f55;
  font-size: 16px;
  line-height: 22px;
}
section#pong a.btn {
  margin-top: 5px;
}
section#buckets {
  text-align: center;
  color: #1b7ad6;
  width: 100%;
  margin-bottom: 10px;
  background-color: #ffffff;
}
section#buckets img.thumbnail {
  box-shadow: none;
  border: none;
  border-radius: 0;
  text-align: center;
  padding: 0;
  display: inline-block;
}
#buckets h3 {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 500;
  color: #333333;
  padding: 0px 0px 10px 0px;
  margin: 0;
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#buckets h3 + p {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #999999;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#buckets p {
  font-size: 18px;
  color: #4a4f55;
  padding: 0 20px;
  font-weight: 400;
}
#buckets a {
  margin-top: 10px;
}
#contact-me {
  background-color: white;
}
.contact-icons ul li {
  list-style: none;
  display: inline-block;
}
ul.headshots {
  padding: 10px 0 10px 0;
  position: relative;
  float: left;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
ul.headshots li {
  list-style: none;
  position: relative;
  display: inline-block;
  float: left;
}
ul.headshots li img {
  height: 140px;
  width: 140px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 2px;
}
/* Basic Page Styles
------------------------------------ */
.paper {
  padding: 20px 30px;
  height: auto;
  margin: 80px 40px 20px 40px;
  line-height: 15px;
  color: #000000;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
/* Letter Layout */
.paper-content hgroup {
  position: relative;
}
.paper-content article:first-child {
  padding-top: 40px;
}
.paper-content article {
  padding-top: 0px;
  text-align: justify;
}
.paper-content hgroup h3 {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  text-align: left;
  text-indent: 35px;
  display: inline-block;
  margin: 0px 0px 0px 0px;
  color: #999999;
}
.paper-content hgroup h3::before {
  background: url("../img/icons.png") no-repeat;
  height: 24px;
  width: 24px;
  content: "";
  position: absolute;
  display: block;
  float: left;
}
.paper-content hgroup h4 {
  margin: 5px 0px 0px 36px;
  color: #2b2b2b;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}
.paper-content h4 {
  margin: 5px 0px 5px 0px;
  color: #2b2b2b;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}
.paper-content hgroup h5 {
  margin: 6px 0px 0px 36px;
  color: #999999;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}
.paper-content p {
  line-height: 20px;
  color: #303030;
}
.paper-content ol,
.paper-content ul,
.paper-content li {
  list-style: none;
  margin: 0;
}
.paper-content p.introduction,
.paper-content p.signature {
  font-weight: bold;
}
/* Banner Layout */
.paper-banner {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  background: #303030;
  border: 1px solid #313131;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.banner {
  display: block;
  position: relative;
}
.paper-banner h3 {
  color: #ffffff;
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  text-indent: 35px;
  display: inline-block;
  margin: 0px;
  letter-spacing: .1em;
}
.paper-banner h3::before {
  background: url("../img/icons.png") no-repeat;
  height: 24px;
  width: 24px;
  content: "";
  position: absolute;
  display: block;
  float: left;
}
.paper-banner h3#folio::before {
  background-position: -444px -58px;
}
.paper-banner h3#process::before {
  background-position: -59px -107px;
}
.paper-banner a {
  float: right;
  display: inline-block;
  text-transform: uppercase;
}
.paper-banner a:hover,
.paper-banner a:focus,
.paper-banner a:active {
  color: #ffffff;
}
.paper-banner a.cta {
  padding-top: 6px;
}
.canvas,
.canvas-banner {
  padding: 0 10px;
  height: auto;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.canvas-banner section#letterhead {
  margin-bottom: 0px;
  padding: 20px;
}
.canvas-banner {
  margin-top: 20px;
}
.canvas .paper-header,
.canvas-banner {
  background-color: #303030;
}
.fullcanvas {
  padding: 0;
}
/* Coverletter Page
--------------------------------------------------- */
section#letterhead {
  margin: 0 0 60px 0;
  text-align: center;
}
.paper-header {
  background-color: #303030;
  padding: 10px 0 10px 0;
  margin: -20px -30px;
}
section#letterhead h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: .1em;
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
}
section#letterhead p,
.paper-header p {
  font-size: 14px;
  margin: 0;
  color: #999999;
}
.paper-header ul li {
  list-style: none;
  display: inline-block;
}
/* Contact Icons */
ul.contact {
  list-style: none;
  margin: 0 auto;
}
ul.contact li {
  display: inline-block;
}
ul.li contact a,
li.emailme a,
li.callme a {
  display: inline-block;
  position: relative;
  float: left;
}
li.emailme i {
  background-image: url('../img/mini-mail.png');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -1px;
  height: 24px;
  width: 24px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
li.callme i {
  background-image: url('../img/mini-phone.png');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  height: 24px;
  width: 24px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
ul.contact li span {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #999999;
  font-size: 14px;
  line-height: 14px;
  text-indent: 30px;
  display: inline-block;
  padding: 5px 5px 0 0;
  -webkit-transition: color 0.4s linear;
  -moz-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  transition: color 0.4s linear;
}
ul.contact li.emailme a span:hover {
  color: #ffffff;
  text-decoration: none;
}
/* Resume Banner */
.resumeicons,
.contactmeicons {
  display: inline-block;
  margin-top: 5px;
  position: relative;
}
.paper-banner .banner .resumeicons a,
.paper-banner .banner .contactmeicons a {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  display: block;
  position: relative;
  float: left;
  height: 24px;
  width: 24px;
  margin: 0px 10px 0 10px;
  font: a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.paper-banner .banner .resumeicons a:first-child {
  margin-left: 0px;
  height: 24px;
  width: 32px;
}
.paper-banner .banner .contactmeicons a:first-child {
  margin-left: 0px;
}
.paper-banner .banner .resumeicons a:last-child,
.paper-banner .banner .contactmeicons a:last-child {
  margin-right: 0px;
}
.resumeicons #education {
  background-position: -248px -60px;
}
.resumeicons #experience {
  background-position: -204px -60px;
}
.resumeicons #skills {
  background-position: -300px -60px;
}
.resumeicons #references {
  background-position: -156px -60px;
}
.contactmeicons #cm-tweet {
  background-position: -59px -156px;
}
.contactmeicons #cm-call {
  background-position: -60px -60px;
}
.contactmeicons #cm-skype {
  background-position: -204px -156px;
}
.contactmeicons #cm-email {
  background-position: -12px -60px;
}
/* Resume Page
-------------------------------------------- */
.paper-content hgroup h3#bonjour::before {
  background-position: -396px -12px;
}
.paper-content hgroup h3#icon-education::before {
  background-position: -252px -12px;
}
.paper-content hgroup h3#icon-experience::before {
  background-position: -204px -12px;
}
.paper-content hgroup h3#icon-skills::before {
  background-position: -300px -12px;
}
.paper-content hgroup h3#icon-references::before {
  background-position: -156px -12px;
}
a.cloud {
  color: #999999;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  margin-top: 40px;
  background-position: center top;
  background-image: url('../img/cloud.png');
  background-repeat: no-repeat;
  padding-top: 90px;
}
a.cloud:hover,
a.cloud:active,
a.cloud:focus {
  color: #1b7ad6;
}
section#references {
  margin-bottom: 60px;
}
/* Portfolio Page
-------------------------------------------- */
.folio-banner {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  background: #303030;
  border: 1px solid #333333;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
.folio-banner h2 {
  color: #ffffff;
}
.canvas details {
  text-align: center;
}
.portfoliofeature h2 {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #9a9795;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
}
.portfoliofeature .details {
  padding-bottom: 30px;
}
.portfoliofeature .details .summary {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #9a9795;
  padding: 10px 20px 30px 20px;
  border-bottom: 1px solid #f5f5f5;
}
/*
a.summary {
	position: absolute;
	background-image: url('../img/open.png');
	background-repeat: no-repeat;
	height: 22px;
	width: 22px;
	top: 15px;
	right: 5px;
	padding: 5px;
	background-position: center;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	.backface-visibility(hidden);
	.transition(all 200ms ease-in-out);
}

.details a.summary {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	.backface-visibility(hidden);
	.rotate(45deg);
	.transition(all 200ms ease-in-out);
}
*/
/* Process Page
-------------------------------------------- */
/* Contact Page
-------------------------------------------- */
.contactcover {
  margin: 0 auto;
  text-align: center;
}
.contactcover img {
  max-width: 100%;
  width: 615px;
  height: auto;
}
/* Contact Me Banner */
p.contactlead {
  font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  font-style: normal;
  color: #f5f5f5;
  text-align: center;
  padding-top: 32px;
}
.contacticons {
  text-align: center;
  margin-bottom: 10px;
}
.contacticons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contacticons li {
  display: inline-block;
  margin: 10px 25px;
}
.contacticons a {
  color: #93B300;
  display: inline-block;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  height: 48px;
  width: 48px;
  font: a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.contacticons a:hover,
.contacticons a:focus,
.contacticons a:active {
  font: a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-color: #1a1a1a;
}
#fm-facebook {
  background-position: 0 -144px;
}
#fm-twitter {
  background-position: -47px -144px;
}
#fm-linkedin {
  background-position: -96px -144px;
}
#fm-dribbble {
  background-position: -144px -144px;
}
#fm-skype {
  background-position: -192px -144px;
}
#fm-forrst {
  background-position: -239px -144px;
}
/* Footer
================================================== */
.copyright {
  text-align: right;
}
.tweet {
  float: left;
}
/* Share Widgets
================================================== */
/* Facebook Responsive
-----------------------*/
.fb-comments,
.fb_iframe_widget iframe[style],
.fb_iframe_widget span[style] {
  width: 100%!important;
}
.fb-like {
  margin-bottom: 20px;
  overflow: hidden;
  float: left!important;
}
.fb-like span[style],
.fb-like span iframe[style] {
  width: 90px!important;
}
/* Multimedia Elements
================================================== */
/* Responsive video embeds (must be wrapped container)
-------------------------------------------------------*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  /*16/9 ratio*/

  padding-top: 0;
  height: 0;
  overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Media Queries
================================================== */
/*:::PRIMARY:::*//* Landscape phone to portrait tablet 
----------------------------------------*/
@media (max-width: 767px) {
  /* Styles */
  body {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .row-fluid .offset3:first-child {
    margin-left: 0;
  }
  nav {
    display: none;
  }
  section {
    margin: 0 -10px 20px -10px;
    padding: 0 10px 10px 10px;
  }
  section#letterhead {
    margin: 0 0px 0 0px;
  }
  header {
    min-height: 50px;
  }
  header,
  footer,
  #page {
    margin: 0px -10px 0px -10px;
    padding: 0px 10px 0px 10px;
  }
  footer {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  header a.brand {
    margin-top: 0px;
  }
  .btn-block-fluid {
    width: 100%;
    display: block;
    float: left;
  }
  /* Global Crumb */
  .crumb h1 {
    font-size: 18px;
    padding: 6px 0 0 0;
    margin: 0px 0;
    text-transform: uppercase;
    letter-spacing: .08em;
    display: block;
  }
  .crumb small {
    display: none;
  }
  /*
  crumb h1 {
  	font-size: @baseFontSize;
  	color: @slate;
  	padding: 2px 0 0 0;
  	margin: 5px 0;
  	text-transform: uppercase;
  	letter-spacing: .08em;
  	text-shadow: 0 1px rgba(255,255,255,.05);
  	text-align: center;
  	display: block; 
  }
  
  .crumb small {
  	font-size: @baseFontSize;
  	display: none;
  	padding: 2px 10px 0 10px;
  	margin: 0 0 5px 0;
  	text-shadow: 0 1px rgba(255,255,255,.05);
  }
  */
  /* Globalnav Page slide */
  #page,
  .paper,
  .canvas,
  .paper-banner {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .paper {
    padding: 20px 10px;
    margin: 20px 0px 20px 0px;
  }
  a.plus {
    display: block;
    position: absolute;
    background-image: url("../img/open.png");
    background-repeat: no-repeat;
  }
  /* Basic Page Styles
  ------------------------------------ */
  .paper-banner,
  .paper-content,
  .paper-content article {
    text-align: center;
  }
  .paper-content {
    border-bottom: 1px solid #f5f5f5;
  }
  .paper-content:last-child {
    border-bottom: none;
  }
  .paper-content article:first-child {
    padding-top: 0px;
  }
  .paper-content h4,
  .paper-content p {
    text-align: left;
  }
  .paper-banner {
    margin-left: 0px;
    margin-right: 0px;
  }
  .paper-banner a {
    display: block;
    float: none;
  }
  .banner {
    display: block;
    position: relative;
  }
  .paper-banner .banner .resumeicons a,
  .paper-banner .banner .contactmeicons a {
    margin-top: 10px;
  }
  .paper-content hgroup h3 {
    font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    margin: 5px 0px 20px 0px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .paper-content hgroup h4 {
    font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    margin: 10px 0px 0px 0px;
    text-align: left;
    display: block;
    float: left;
  }
  .paper-content hgroup h5 {
    font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 10px 0px 0px 10px;
    text-align: left;
    display: block;
    float: left;
  }
  h4.position {
    font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #999999;
  }
  h4#linkedin-title {
    text-align: center;
  }
  ul.referral-contacts {
    margin-bottom: 20px;
  }
  ul.referral-contacts li a {
    color: #999;
    display: block;
    padding: 10px 15px;
    margin: 10px 0 0;
    background-color: #f5f5f5;
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    text-align: center;
  }
  ul.referral-contacts li a:hover,
  ul.referral-contacts li a:active,
  ul.referral-contacts li a:focus {
    color: #605f5f;
  }
  .cloud a {
    display: block;
    text-align: center;
    opacity: 1;
  }
  /* Contact Icons */
  ul.contact {
    list-style: none;
    margin: 0;
  }
  ul.contact li {
    color: #282725;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 1px 1px 0px rgba(255, 255, 255, 0.12), 0 1px 1px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 1px 0px rgba(255, 255, 255, 0.12), 0 1px 1px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 1px 0px rgba(255, 255, 255, 0.12), 0 1px 1px 0px rgba(0, 0, 0, 0.5);
    background-color: #262626;
    display: inline-block;
    margin: 10px 10px 0;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
  }
  ul.contact li:hover,
  ul.contact li:active,
  ul.contact li.active,
  ul.contact li:focus {
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5), 0 1px 1px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5), 0 1px 1px 0px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5), 0 1px 1px 0px rgba(255, 255, 255, 0.1);
    background-color: #232323;
  }
  ul.contact li span {
    display: none;
  }
  li.emailme a {
    background-image: url('../img/icons.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 48px;
    width: 48px;
  }
  li.callme a {
    background-image: url('../img/icons.png');
    background-position: -49px 0;
    background-repeat: no-repeat;
    display: block;
    height: 48px;
    width: 48px;
  }
  section#letterhead h2 {
    margin-top: 0;
  }
  /* Home Page Styles
  ------------------------------------ */
  /* Team Thumbnails */
  section#content {
    margin: 0 -10px 0px -10px;
    padding: 0 10px 0px 10px;
  }
  section#intro {
    background-color: #303030;
    margin: 0 -10px 0px -10px;
    padding: 0 10px 0px 10px;
  }
  ul.headshots {
    padding: 10px 0 10px 0;
    margin: 0 0 0px 0;
  }
  ul.headshots li {
    list-style: none;
    position: relative;
    display: inline-block;
  }
  ul.headshots li img {
    height: 60px;
    width: 60px;
    padding: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  section#buckets {
    margin-bottom: 0px;
    padding-top: 0px;
  }
  section#buckets ul.thumbnails li:last-child {
    margin-bottom: 0;
  }
  section#pong {
    text-align: center;
    padding-top: 0px;
  }
  a.bucket {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  section#pong a.btn {
    margin-top: 20px;
    text-align: center;
    display: inline-block;
  }
  section#resize-me {
    display: none;
  }
  /* Cover Letter Page Styles
  ------------------------------------ */
  .paper-header {
    margin: -20px -20px 18px;
    padding: 20px;
    text-align: center;
  }
  /* Resume Page Styles
  ------------------------------------ */
  ul.software-skills,
  ul.development-skills,
  ul.hardware-skills {
    text-align: left;
    margin-bottom: 10px;
  }
  .paper-content ul.software-skills li,
  .paper-content ul.development-skills li,
  .paper-content ul.hardware-skills li {
    list-style: none;
    display: inline-block;
    text-align: left;
  }
  .paper-content ul.software-skills li:after,
  .paper-content ul.development-skills li:after,
  .paper-content ul.hardware-skills li:after {
    content: ", ";
  }
  .paper-content ul.software-skills li:last-child:after,
  .paper-content ul.development-skills li:last-child:after,
  .paper-content ul.hardware-skills li:last-child:after {
    content: "";
  }
  /* Portfolio Page Styles
  ------------------------------------ */
  .canvas,
  .canvas-banner {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .portfoliofeature h2 {
    font-size: 18px;
    display: block;
    padding: 20px 10px 5px 10px;
  }
  .portfoliofeature .details .summary {
    font-size: 15px;
    display: block;
    padding: 0px 10px 20px 10px;
    border-bottom: 1px solid #f5f5f5;
  }
  /* Process Page Styles
  ------------------------------------ */
  /* Contact Page Styles
  ------------------------------------ */
  /* Contact Me Banner Fixes */
  p.contactlead {
    font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 20px;
  }
  .contacticons {
    margin-bottom: 18px;
  }
  .contacticons li {
    margin: 5px 14px;
  }
}
/* Mobile Devices Landscape Specific
----------------------------------------*/
@media (min-width: 480px) and (max-width: 767px) {
  /* Styles */
  .navbar .brand {
    font-size: 22px;
    letter-spacing: .05em;
  }
  .navbar .nav {
    display: none;
  }
}
/*:::PRIMARY:::*//* Landscape phones and down 
---------------------------------------------------------------------*/
@media (max-width: 480px) {
  /* Styles */
  /* Globalnav Page slide */
  section#letterhead {
    margin: 0 -10px 0 -10px;
  }
  #slideout {
    width: 200px;
  }
  #slideout ul#globalnav {
    width: auto;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: none;
    background: none;
    /* Firefox v3.5+ */
  
    -moz-box-shadow: none;
    /* Safari v3.0+ and by Chrome v0.2+ */
  
    -webkit-box-shadow: none;
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  
    box-shadow: none;
    text-indent: 0;
    color: #FFF;
    margin: 0;
    background-color: transparent;
  }
  #slideout ul#globalnav li {
    padding: 0;
    margin: 0 20px;
    list-style: none;
    display: block;
    float: none;
  }
  #slideout ul#globalnav li:active {
    -webkit-tap-highlight-color: green;
    background-color: #222;
  }
  #slideout ul#globalnav li a.navtext {
    position: relative;
    bottom: 0;
    color: #848484;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
    width: auto;
    font: 600 18px/30px proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-transition: color .4s linear;
    -moz-transition: color .4s linear;
    -o-transition: color .4s linear;
    -ms-transition: color .4s linear;
    transition: color .4s linear;
    border-bottom: solid 1px #2b2b2b;
    -moz-box-shadow: 0 1px 0 #3d3d3d;
    -webkit-box-shadow: 0 1px 0 #3d3d3d;
    box-shadow: 0 1px 0 #3d3d3d;
    padding: 11px 20px;
    display: block;
    text-align: left;
  }
  #slideout ul#globalnav li a.navtext:hover {
    text-decoration: none;
    color: #fff;
  }
  #slideout ul#globalnav li a.navtext.active {
    text-decoration: none;
    color: #fff;
  }
  /* end slideout */
  /* Footer */
  .social-btns {
    margin: 0 auto;
  }
  .copyright {
    display: inline-block;
    margin-top: 10px;
  }
  .tweet {
    display: block;
    float: none;
  }
  /* Basic Page Styles
  ------------------------------------ */
  /* Cover Letter Styles
  ------------------------------------ */
  .paper-header {
    margin: -20px -10px 18px;
    padding: 20px;
    text-align: center;
  }
}
/*:::PRIMARY:::*//* Portrait tablet to landscape and desktop 
------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 979px) {
  /* Styles */
  body {
    padding-top: 0px;
  }
  nav a {
    margin: 0px 10px 0px 10px;
  }
  .btn-block-fluid {
    width: 90%;
  }
  /* Basic Page Style Adjustments */
  .paper {
    padding: 20px 30px;
  }
  /* Home Page Style Adjustments */
  #content .greeting {
    margin-top: 10%;
  }
  #content .greeting h2 {
    font-size: 30px;
  }
  #content .greeting p {
    font-size: 16px;
  }
  /* Portfolio Page */
  .canvas,
  .canvas-banner {
    margin-left: 0px;
    margin-right: 0px;
  }
  /* Contact Icons */
  ul.contact {
    list-style: none;
    margin: 0;
  }
  li.emailme i,
  li.callme i {
    display: none;
  }
  ul.contact li {
    color: #282725;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 1px 1px 0px rgba(255, 255, 255, 0.12), 0 1px 1px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 1px 0px rgba(255, 255, 255, 0.12), 0 1px 1px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 1px 0px rgba(255, 255, 255, 0.12), 0 1px 1px 0px rgba(0, 0, 0, 0.5);
    background-color: #262626;
    display: inline-block;
    margin: 10px 10px 0;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
  }
  ul.contact li:hover,
  ul.contact li:active,
  ul.contact li.active,
  ul.contact li:focus {
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5), 0 1px 1px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5), 0 1px 1px 0px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5), 0 1px 1px 0px rgba(255, 255, 255, 0.1);
    background-color: #232323;
  }
  ul.contact li span {
    display: none;
  }
  li.emailme a {
    background-image: url('../img/icons.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 48px;
    width: 48px;
  }
  li.callme a {
    background-image: url('../img/icons.png');
    background-position: -49px 0;
    background-repeat: no-repeat;
    display: block;
    height: 48px;
    width: 48px;
  }
}
/* iPads (portrait and landscape) 
---------------------------------------------------------------------------------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  /* Contact Icons */
  ul.contact {
    list-style: none;
    margin: 0;
  }
  li.emailme i,
  li.callme i {
    display: none;
  }
  ul.contact li {
    color: #282725;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    color: #fff;
    border: solid 1px #d0d0d0;
    background-color: #fff;
    display: inline-block;
    margin: 10px 10px 0;
  }
  ul.contact li span {
    display: none;
  }
  li.emailme a {
    background-image: url('../img/icons.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 48px;
    width: 48px;
  }
  li.callme a {
    background-image: url('../img/icons.png');
    background-position: -49px 0;
    background-repeat: no-repeat;
    display: block;
    height: 48px;
    width: 48px;
  }
}
/* iPads (landscape) 
------------------------ */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  ul.headshots li img {
    padding: 8px;
  }
}
/* iPads (portrait)
----------------------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  nav a {
    margin: 0px 20px 0px 20px;
  }
}
/* Slidely Wide Desktop Display
------------------------------------*/
@media (min-width: 980px) {
  /* Styles */
}
/* Large Desktop Displays 
----------------------------------------*/
@media (min-width: 1200px) {
  /* Styles */
}
/* Retina Displays (Tip: Best used only for image replacement)
------------------------------------------------------------------ */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
  a.plus {
    background-image: url("../img/open@2x.png");
    background-size: 22px 22px;
    height: 22px;
    width: 22px;
  }
  section#content::before {
    background: #ffffff url("../img/bg-wood@2x.jpg") repeat-x;
    background-size: 512px 512px;
  }
  .paper-banner h3::before {
    background: url("../img/icons@2x.png") no-repeat;
    background-size: 480px 480px;
  }
  .paper-content hgroup h3::before {
    background: url("../img/icons@2x.png") no-repeat;
    background-size: 480px 480px;
  }
  a.cloud {
    background-image: url("../img/cloud2x.png");
    background-repeat: no-repeat;
    background-size: 96px 84px;
  }
  #buckets h3::before {
    background-image: url("../img/bucket-icons@2x.png");
    background-size: 150px 46px;
  }
  /* BANNERS
  --------------------------------------- */
  .leftarrow {
    background-image: url("../img/icons@2x.png");
    background-repeat: no-repeat;
    background-position: -300px -108px;
    background-size: 480px 480px;
    height: 24px;
    width: 24px;
  }
  .leftarrow i {
    background-image: url("../img/icons@2x.png");
    background-repeat: no-repeat;
    background-position: -252px -108px;
    background-size: 480px 480px;
    height: 24px;
    width: 24px;
  }
  span.rightarrow {
    background-image: url("../img/icons@2x.png");
    background-repeat: no-repeat;
    background-position: -300px -108px;
    background-size: 480px 480px;
    height: 24px;
    width: 24px;
  }
  /* Resume and Contact Banner */
  .paper-banner .banner .resumeicons a,
  .paper-banner .banner .contactmeicons a {
    background-image: url("../img/icons@2x.png");
    background-size: 480px 480px;
  }
  /* Contact Buttons */
  li.emailme a {
    display: block;
    background-image: url("../img/icons@2x.png");
    background-repeat: no-repeat;
    background-size: 480px 480px;
    background-position: 0px 0px;
    height: 48px;
    width: 48px;
  }
  li.callme a {
    display: block;
    background-image: url("../img/icons@2x.png");
    background-repeat: no-repeat;
    background-size: 480px 480px;
    background-position: -48px 0px;
    height: 48px;
    width: 48px;
  }
  /* Contact Icons */
  .contacticons a {
    background-image: url("../img/icons@2x.png");
    background-repeat: no-repeat;
    background-size: 480px 480px;
  }
}
/* iPhone Retina Displays (Tip: Best used only for image replacement)
------------------------------------------------------------------ */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) and (max-width: 480px) {
  /* Styles */
}
